.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
}
  
.Modal-content {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    max-height: 407px;
    max-width: 960px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
